/* src/components/mouse-dot.css */
.mouse-dot {
  left: 0; top: 0;
  border-radius: 9999px;
  will-change: transform, width, height, opacity;
}

@media (pointer: coarse), (hover: none) {
  .mouse-dot { display: none; }
}
